//colors palette
$cerulean:#029fcc;
$malibu:  #69a0fd;
$bayblue: #224184;
$icecold: #b1e4f4;
$towergray: #a3b8be;
$silver:    #bcbcbc;
$dustgray:  #9a9898;
$boulder:   #797979;
$hind:      #f4f0ef; 
$codagray: #1b1b1b;
$matric:   #a65d50;
$walnut:   #784619;
$smaltblue:#4f7f85;
$bluewood: #374a5e;
$tussock:  #cc9f4c;
$tulipyellow: #efab43;
$thunderbird: #d71f18;


//fonts
$main-font: 'Poppins', sans-serif;
$title-font:'Festive', cursive;